<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Mini-Grid Explorer</title>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>
	<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==" crossorigin=""></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>

	<link rel="stylesheet" type="text/css" href="static/style.css">	
</head>
<body>


	<div id="main-map"></div>
	<nav id="nav">
	<div class="innertube">        
	<ul>
        <h3>Start here</h3>
		<select class="form-control" id="village" name="village" onchange="showVillage()">
            <option selected hidden>Choose a village</option>                        
        </select>

        <p id="choose-gen"></p>

        <h3 id="param-head"></h3>
        <table id="param-table"></table>
        <div id="run"></div>

        <h3 id = "results-head"></h3>
        <table id = "results"></table>
    </ul>
	</div>
	</nav>

	<script type="text/javascript" src="static/mgo.js"></script>
</body>
</html>
